/*-- DrLeonardo Design for GravitLauncher --*/
@font-face {
    font-family: "Roboto Bold";
    src: url("../../fonts/RobotoBolt.ttf");
}

@font-face {
    font-family: "Quantify";
    src: url("../../fonts/Quantify.ttf");
}
@font-face {
    font-family: "Audiowide";
    src: url("../../fonts/AudiowideRegular.ttf");
}

#serverPane {
    -fx-background-color: transparent;
}

#avatar {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

#layout {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/main_background.png');
}

.serverBTN {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

#nickname {
    -fx-font-family: "Audiowide";
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-text-fill: #2F2F2F;
}

#prev,
#next {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}


#dots {
    -fx-background-color: #F6F6F6;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #BCBCBC;
    -fx-border-width: 1;
}

#dots Circle {
    -fx-cursor: hand;
    -fx-stroke: transparent;
    -fx-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 0);
}

#dots Circle.active {
    -fx-fill: #E15B28;
}

#links Button {
    -fx-cursor: hand;
    -fx-background-color: #C83A2C;
    -fx-background-insets: 0;
    -fx-border-color: #2F2F2F;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#discord {
    -fx-background-color: #8C9EFF;
}
/*-- DrLeonardo Design for GravitLauncher --*/