/*-- DrLeonardo Design for GravitLauncher --*/

#consolePane {
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/console_background.png");
    -fx-background-size: cover;
}

/* Outputs */

#form {
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 0 0 10 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, -4);
}

#output {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-font-family: Consolas;
    -fx-font-size: 8pt;
    -fx-padding: 0 0 0 0;
}

#output .content,
#output .content {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

#send {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-background-insets: 0 0 0 0;
    -fx-font-size: 14;
    -fx-background-color: transparent;
    -fx-text-fill: #2F2F2F;
}


#header {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-text-fill: #2F2F2F;
    -fx-fill: #2F2F2F;
}

#commandInput {
    -fx-font-size: 13;
    -fx-background-color: transparent;
    -fx-text-fill: #2F2F2F;
    -fx-prompt-text-fill: #2F2F2F;
    -fx-padding: 0 0 0 5;
}


/*-- DrLeonardo Design for GravitLauncher --*/