/*-- DrLeonardo Design for GravitLauncher --*/

@font-face {
    font-family: "TTNorms Bold";
    src: url("../../fonts/TTNorms-Bold.ttf");
}

/* Backgrounds */
#layout {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/auth_background.png');
}

#loginPane,
#serverPaneLayout,
#closeAbout, #aboutAct {
    -fx-background-color: transparent;
}

#password,
#login {
    -fx-pref-width: 280;
    -fx-pref-height: 50;
    -fx-background-radius: 5;
    -fx-background-color: rgba(0, 0, 0, 0.19);
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-family: "TTNorms Bold";
}

#goAuth {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-font-family: "TTNorms Bold";
}

#logo {
    -fx-fill: #323232;
}

#auth_on:hover,
#auth_on:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

#about Pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

.hyperlink {
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-underline: false;
    -fx-font-size: 12;
    -fx-font-family: "TTNorms Bold";
    -fx-font-weight: bold;
}

.hyperlink:hover,
.hyperlink:pressed {
    -fx-underline: true;
}

#textLogin {
    -fx-font-size: 10pt;
    -fx-text-fill: #fff;
}

#createAccount:hover,
#createAccount:pressed {
    -fx-text-fill: #FFC700;
}

#newsArea {
    -fx-font-size: 10pt;
    -fx-fill: #fff;
}

#iconsLogin {
    -fx-fill: #CCCCCC;
}

/*-- DrLeonardo Design for GravitLauncher --*/