/*-- DrLeonardo Design for GravitLauncher --*/

@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto.ttf");
}

#header {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-text-fill: #2F2F2F;
    -fx-fill: #2F2F2F;
}

.hyperlink {
    -fx-text-fill: #959595;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 15;
    -fx-underline: false;
    -fx-font-size: 15;
    -fx-font-family: "TTNorms Bold";
    -fx-font-weight: bold;
}

.hyperlink:hover,
.hyperlink:pressed {
    -fx-underline: true;
}

#settingsPane #apply {
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/save.png");
}

.infobox {
    -fx-font-family: Roboto;
    -fx-font-size: 13;
}

#settingsPane {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/main_background.png');
}

#settingsPane > #settingslist {
    -fx-background-color: transparent;
}

#settingsPane > #settingslist > .viewport {
    -fx-background-color: transparent;
}

#settingsItem {
    -fx-background-color: transparent;
}

#ramLabel {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #323232;
}

#textLabel {
    -fx-font-size: 15px;
    -fx-text-fill: #323232;
}


/* RAM slider */

.ramtext {
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 14px;
    -fx-background-color: #323232
}

#ramSlider > .track {
    -fx-background-color: #E9632E;
    -fx-pref-height: 4px;
}

#ramSlider > .thumb {
    -fx-background-color: #E9632E;
}

#ramSlider > .colored-track {
    -fx-background-color: #E9632E;
    -fx-pref-height: 4px;
}

#ramSlider > .animated-thumb {
    -fx-background-color: transparent;
}

#ramSlider > .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

#dirPane {
    -fx-background-color: #F9F9F9;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}

#deleteDir,
#changeDir {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

/*-- DrLeonardo Design for GravitLauncher --*/