/*-- DrLeonardo Design for GravitLauncher --*/

@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto.ttf");
}

#overlay {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/main_background.png');
}

#header,
#headingUpdate {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-text-fill: #2F2F2F;
    -fx-fill: #2F2F2F;
}

SVGPath {
    -fx-fill: #D45F10;
}

#outputUpdate {
    -fx-padding: 0 0 0 0;
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-text-fill: #959595;
    -fx-font-size: 18;
}

#description {
    -fx-alignment: top-left;
    -fx-wrap-text: true;
}

#description.error {
    -fx-text-fill: #AB2727;
}


/* Progress bar */

.progress-bar {
    -fx-indeterminate-bar-flip: false;
    -fx-background-color: #F3F3F3;
}

.progress-indicator {
    -fx-background-color: transparent;
}

.progress-indicator .indicator {
    -fx-background-color: transparent;
}

.progress-bar > .bar {
    -fx-background-image: url("../../images/icons/update.png");
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
}


/* Phases */

.phasepassive {
    -fx-fill: #F3F3F3;
    -fx-stroke-width: 1px;
    -fx-stroke: #7C4DFF;
}

.phaseActive {
    -fx-fill: #7C4DFF;
}

.phaseError {
    -fx-fill: #AB2727;
}

#speed,
#volume,
#phases,
#file {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: #D45F10;
    -fx-font-size: 15;
}


/*-- DrLeonardo Design for GravitLauncher --*/