/*-- DrLeonardo Design for GravitLauncher --*/
#debugPane {
    -fx-background-color: transparent;
    -fx-background-image: url("../../images/console_background.png");
    -fx-background-size: cover;
}

#output {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-font-family: Consolas;
    -fx-font-size: 8pt;
    -fx-padding: 0 0 0 0;
}

#output .content,
#output .content {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

#header {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-text-fill: #2F2F2F;
    -fx-fill: #2F2F2F;
}

#kill, #copy, #hastebin {
    -fx-background-color: transparent;
}

#back {
    -fx-padding: 0 0 0 0;
}

/*-- DrLeonardo Design for GravitLauncher --*/